.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    height: 55px;
    margin: 4%;
}

.header-button {
    display: flex;
    justify-items: center;
    width: 55px;
    height: 55px;
}